.sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
.sortable li span { position: absolute; margin-left: -1.3em; }

ul.who-voted  {
  padding: 0;
}

ul.comma-list li{
  display: inline;
  margin: 0;
  padding: 0;
}

ul.comma-list li:after {
  content: ",";
}

ul.comma-list li:last-child:after {
  content: "";
}